form {
  width: 100%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
}

form button {
  margin: 10px 0;
}

form #numberPage,
form #quantity,
form #price {
  height: 40px;
}

form textarea {
  margin-top: 30px;
}

form .totalInput {
  position: relative;
  margin: 30px 0 10px 0;
}

form .totalInput .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 24px;
}

form .totalInput .input label i {
  border-top: solid #645E4E 1px;
  border-bottom: solid #645E4E 1px;
  border-left: solid #645E4E 1px;
  border-radius: 5px 0 0 5px;
  padding: 6px;
  margin: 5px 0;
}

form .totalInput .input input {
  font-size: 16px;
}

form .totalInput .input #password {
  padding-right: 40px;
}

form .totalInput .input input:focus-visible,
form .totalInput .input textarea:focus-visible {
  outline: solid 2px #645E4E;
}

form .totalInput .inputPlaceHolder, form .totalInput .inputImagePlaceHolder {
  position: absolute;
  top: 50%;
  left: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 100ms;
  transition: 100ms;
  z-index: -1;
}

form .totalInput .inputImagePlaceHolder {
  color: #645E4E;
  z-index: 11;
  opacity: 0.5;
}

form .totalInput .active {
  top: -15px;
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #645E4E;
  z-index: 1;
  opacity: 1;
}

form .totalInput #checkPassword,
form .totalInput #nocheckPassword {
  right: 30px;
}

form .smallVisible {
  color: #645E4E;
}

form p {
  margin: 0;
  color: transparent;
}

form input:focus-visible,
form textarea:focus-visible {
  outline: solid 1px #645E4E;
}

form .inputMessageValid {
  color: green;
}

form .inputMessageError {
  color: red;
}

form .inputValid {
  border: solid 3px green !important;
}

form .inputError {
  border: solid 3px red !important;
}

form .imageSmall {
  color: #645E4E;
  margin-top: 20px;
}

form .emailPhone {
  visibility: hidden;
}

form h3 {
  border-bottom: solid #009176 1px;
}

form h3 i {
  border: solid #009176 1px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

form input,
form textarea {
  width: 100%;
  border: solid 1px #645E4E;
  border-radius: 1px;
}

form input[type='radio'] {
  border: none;
  margin-left: 5px;
}

form input {
  height: 25px;
  margin: 2% 5px 2% 0;
  padding-right: 30px;
}

form input[type="number"] {
  padding-right: 0;
}

form label i {
  border-top: solid #645E4E 1px;
  border-bottom: solid #645E4E 1px;
  border-left: solid #645E4E 1px;
  border-radius: 5px 0 0 5px;
  padding: 6px;
  margin: 5px 0;
}

form div {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 130px;
  width: 100%;
}

form div .name_form,
form div .password_form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form div .name_form div,
form div .password_form div {
  margin-right: 5px;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

form div .name,
form div .password_double_check {
  width: 100%;
}

form div #postcode {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

form div #password,
form div #password_bis {
  padding-right: 30px;
}

form div .eye,
form div .eyeSlash,
form div .eye_close,
form div .publication,
form div .check,
form div .nocheck {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}

form div .eye_close {
  display: none;
}

form div .check {
  color: green;
}

form div .nocheck {
  color: red;
}

form div #publicationDate {
  padding-right: 40px;
}

form #radio {
  margin-top: 10px;
}

form .twoInput,
form .threeInput {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

form .twoInput .labelPublish,
form .threeInput .labelPublish {
  border: solid 1px;
  border-radius: 5px 0 0 5px;
  padding: 4px;
  border-right: 0;
}

form .twoInput .totalInput,
form .threeInput .totalInput {
  margin-top: 0;
}

form .twoInput label,
form .threeInput label {
  white-space: nowrap;
}

form .twoInput .input,
form .threeInput .input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form .twoInput .input .iconLabel,
form .threeInput .input .iconLabel {
  padding: 13px 5px;
}

form .twoInput .check,
form .twoInput .nocheck {
  position: absolute;
  right: 30px;
  top: 50%;
}

form .threeInput .check,
form .threeInput .nocheck {
  position: absolute;
  right: 50px;
  top: 50%;
}

form .threeInput .totalInput .input {
  height: 44px;
}

form .option {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .option .payment_option,
form .option .format_form {
  width: 50%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

form .option .payment_option input,
form .option .format_form input {
  width: initial;
}

form .option .payment_option img,
form .option .format_form img {
  height: 40px;
}

form .option .info_supp,
form .option .radio {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .option .info_supp label,
form .option .radio label {
  margin-right: 5px;
}

form .option .radio {
  text-align: left;
}

form .help {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .help div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 20px;
}

form .help div small {
  text-align: left;
}

form .help div .help_input {
  position: relative;
  width: 160px;
  margin: 2% 10px 2% 0;
}

form .help div .help_input .check,
form .help div .help_input .nocheck {
  right: 20px;
}

form .help div .help_input input {
  max-width: 150px;
  padding-right: 25px;
}

form .help div .help_input .input_tooltip {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  min-width: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: help;
  margin: 0;
}

form .help div .help_input .info_help,
form .help div .help_input .expiration_date,
form .help div .help_input .date_form {
  position: relative;
}

form .help div .help_input .info_help .tooltip,
form .help div .help_input .expiration_date .tooltip,
form .help div .help_input .date_form .tooltip {
  visibility: hidden;
  width: 125px;
  background-color: #645E4E;
  color: #f9f5eb;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin-left: -60px;
}

form .help div .help_input .info_help .tooltip::after,
form .help div .help_input .expiration_date .tooltip::after,
form .help div .help_input .date_form .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #645E4E transparent;
}

form .help div .help_input .info_help:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

form .help div .help_input .expiration_date:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

form .name,
form .password_double_check,
form .locate {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .locate .postcode_form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

form .date_form {
  width: 66%;
}

form .date_form input {
  margin-left: 10px;
}

form .imageInput {
  width: calc(100% - 30px);
  height: 28px;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  right: 0;
  border-radius: 0 1px 1px 0;
  border: solid 1px #645E4E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .imageInput p {
  padding-left: 5px;
  font-weight: lighter;
  color: #645E4E;
}

form input[type="file"] {
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  form .twoInput {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  form .twoInput .totalInput {
    width: 50%;
  }
  form .threeInput {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  form .threeInput .totalInput {
    width: 33%;
  }
}

@media screen and (min-width: 750px) {
  form {
    width: 75%;
  }
  form div .name_form,
  form div .password_form {
    width: 50%;
  }
  form .locate_form {
    width: 33%;
  }
}

@media screen and (min-width: 1000px) {
  form .option .payment_option {
    width: 25%;
  }
  form .option .info_supp,
  form .option .radio {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=form.css.map */